<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shilpisingh.books">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/prolific"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="Books"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add"
            android:label="@string/title_activity_add1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detail"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
